<div>
  <!--Confirmation Modal-->
  <app-confirmation-modal
    [dogToConfirm]="dogToConfirm"
    [handleConfirmationModalDeactivation]="handleConfirmationModalDeactivation"
    [handleConfirmationModalSign]="handleConfirmationModalSign"
    [class]="
      confirmationActive ? 'opacity-100 ' : 'opacity-0  pointer-events-none'
    "
  />
  <!--Container-->
  <div class="grid grid-cols-6 gap-4 p-5">
    <h1 class="text-2xl font-normal col-span-full">Attendance</h1>
    <!-- Overview-->
    <div class="col-span-2 bg-white rounded-md shadow-sm p-4">
      <h2 class="text-xl font-medium pb-2">In</h2>
      <h3 class="text-5xl font-bold text-green-500">{{ dogsIn }}</h3>
    </div>
    <div class="col-span-2 bg-white rounded-md shadow-sm p-4">
      <h2 class="text-xl font-medium pb-2">Out</h2>
      <h3 class="text-5xl font-bold text-red-500">{{ dogsOut }}</h3>
    </div>
    <div class="col-span-2 bg-white rounded-md shadow-sm p-4">
      <h2 class="text-xl font-medium pb-2">Total</h2>
      <h3 class="text-5xl font-bold">{{ dogs.length }}</h3>
    </div>

    <!--Changelog-->
    <div class="col-span-full bg-white rounded-md shadow-sm">
      <!--Title-->
      <h1 class="border-b text-xl font-medium p-4">Latest changes</h1>
      <!--Changelog cards container-->
      <div
        [class]="
          'h-32 border p-2 mx-4 mt-4 overflow-auto transition-all duration-300 ' +
          (changeLogExpanded ? 'h-72' : '')
        "
      >
        <ul>
          <!--Changelog card-->
          <li *ngFor="let changelog of changelogs">
            <div
              [class]="
                'grid mb-3 ' + (changelog.wasCheckedIn ? '' : 'justify-end ')
              "
            >
              <div
                [class]="
                  'rounded-full text-white px-3 py-1 w-fit ' +
                  (changelog.wasCheckedIn ? 'bg-green-500' : 'bg-red-500 ')
                "
              >
                <h2>{{ changelog.description }}</h2>
              </div>
              <h2
                [class]="
                  'text-xs px-3 pt-1 ' +
                  (changelog.wasCheckedIn ? '' : 'text-end')
                "
              >
                {{ changelog.date }}
              </h2>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex justify-center mb-2">
        <button (click)="handleChangeLogExpandedToggle()">
          <img
            src="assets/icons/expand-down-icon.svg"
            alt=""
            [class]="'h-8 ' + (changeLogExpanded ? 'rotate-180 mt-2' : '')"
          />
        </button>
      </div>
    </div>

    <!-- Check in list-->
    <div class="col-span-full bg-white rounded-md shadow-sm">
      <!--Title Container-->
      <div class="flex p-4 border-b items-center max-sm:grid max-sm:gap-2">
        <!--Title-->
        <h2 class="text-xl font-medium mr-4">Check in/out</h2>
        <!--Filters container-->
        <div>
          <!--Search-->
          <div class="relative">
            <input
              type="text"
              placeholder="Search"
              [(ngModel)]="searchInput"
              (ngModelChange)="handleSearchFilter()"
              class="bg-slate-100 p-1 rounded-md pl-7"
            />
            <img
              src="assets/icons/search-icon.svg"
              alt="Magnifying glass icon"
              class="h-4 pl-3 absolute top-2 -left-1"
            />
            <div *ngIf="searchInput">
              <button
                (click)="handleClearSearch()"
                class="absolute top-1 right-1"
              >
                <img
                  src="assets/icons/close-icon.svg"
                  alt="Closing icon"
                  class="h-6"
                />
              </button>
            </div>
          </div>
          <!--sort-->
        </div>
      </div>

      <div class="p-4">
        <ul>
          <!--Dog Card-->
          <li
            id="dog-card"
            *ngFor="let dog of dogsList"
            [class]="
              'flex border-b hover:opacity-75 text-white ' +
              (dog.present ? 'bg-green-500' : 'bg-red-500')
            "
          >
            <div
              class="flex items-center justify-between w-full px-3 py-1 cursor-pointer"
              (click)="handleConfirmationModalActivation(dog)"
            >
              <div class="flex items-center">
                <img
                  src="assets/icons/dog-icon.svg"
                  alt="icon of a corgi face"
                  class="h-10"
                />
                <div class="pl-3">
                  <div class="flex items-center">
                    <h2>{{ dog.name }}</h2>
                    <span
                      [class]="
                        ' block size-3 rounded-full ml-2 ' +
                        (dog.present ? 'bg-green-500 ' : ' bg-red-500 ')
                      "
                    ></span>
                  </div>

                  <h2 class="">{{ dog.breed }}</h2>
                </div>
              </div>

              <h2 class="">{{ dog.age }} years old</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
