<div class="bg-[#f4f5f7] h-screen text-gray-700">
  <div id="title" class="shadow-md bg-white">
    <h1 class="p-5 text-2xl font-normal">Dashboard</h1>
  </div>
  <div class="p-3 grid grid-cols-5 gap-2">
    <div class="col-span-full text-xl font-semibold flex">
      <h2>Currently attending:</h2>
      <h2 class="ml-4 mb-5 text-green-600">{{ dogsPresent }}</h2>
    </div>

    <h2 class="col-span-full text-xl font-semibold">Most Used</h2>
    <div
      class="col-start-2 grid h-full bg-white rounded-md shadow-md transition-all duration-300 hover:-translate-y-1 justify-center cursor-pointer"
    >
      <img
        src="assets/icons/attendance-icon.svg"
        alt="image of a checkboard"
        class="h-20"
      />
      <h3 class="font-bold">Attendance</h3>
    </div>
    <div
      class="grid h-full bg-white rounded-md shadow-md transition-all duration-300 hover:-translate-y-1 justify-center cursor-pointer"
    >
      <img
        src="assets/icons/catalogue-icon.svg"
        alt="image of a checkboard"
        class="h-20"
      />
      <h3 class="font-bold">Catalogue</h3>
    </div>
    <div
      class="grid h-full bg-white rounded-md shadow-md transition-all duration-300 hover:-translate-y-1 justify-center cursor-pointer"
    >
      <img
        src="assets/icons/analytics-icon.svg"
        alt="image of a checkboard"
        class="h-20"
      />
      <h3 class="font-bold">Analytics</h3>
    </div>
  </div>
</div>
