<div>
  <!--Modal-->
  <app-add-dog-modal
    [handleAddDogModalToggle]="handleAddDogModalToggle"
    [class]="
      addDogModalActive
        ? 'opacity-100 '
        : 'opacity-0 pointer-events-none
       '
    "
  />

  <div class="p-5 grid grid-cols-6 gap-4">
    <!--Title-->
    <h1 class="text-2xl font-normal col-span-full">Catalogue</h1>
    <!--Toolbar-->

    <!--In-->
    <div
      class="col-span-3 bg-white rounded-md shadow-sm p-2 flex items-center justify-between"
    >
      <h2 class="text-xl font-medium pl-2">In</h2>
      <h3 class="text-2xl font-bold p-2 shadow-md rounded-md text-green-500">
        {{ dogsIn }}
      </h3>
    </div>

    <!--Add dog-->
    <div
      class="relative col-span-3 row-span-3 bg-white rounded-md shadow-sm cursor-pointer p-4 hover:bg-slate-200"
    >
      <div class="flex justify-center items-center h-full">
        <img src="assets/icons/new-dog-icon.svg" alt="" class="size-[50%]" />
      </div>
      <h2
        class="font-semibold text-xl absolute bottom-5 w-[calc(100%-2rem)] text-center"
      >
        Add Dog
      </h2>
    </div>

    <!--Out-->
    <div
      class="col-span-3 bg-white rounded-md shadow-sm p-2 flex items-center justify-between"
    >
      <h2 class="text-xl font-medium pl-2">Out</h2>
      <h3 class="text-2xl font-bold p-2 shadow-md rounded-md text-red-500">
        {{ dogsOut }}
      </h3>
    </div>

    <!--Total-->
    <div
      class="col-span-3 bg-white rounded-md shadow-sm p-2 flex items-center justify-between"
    >
      <h2 class="text-xl font-medium pl-2">Total</h2>
      <h3 class="text-2xl font-bold p-2 shadow-md rounded-md">
        {{ dogs.length }}
      </h3>
    </div>

    <!-- Dogs list-->
    <div class="col-span-full bg-white rounded-md shadow-sm">
      <div class="flex p-4 border-b items-center max-md:grid max-md:gap-2">
        <!--Title-->
        <h2 class="text-xl font-medium mr-4 whitespace-nowrap">Dogs</h2>
        <!--Filters container-->
        <div class="flex justify-between w-full">
          <!--Search-->
          <div class="relative">
            <input
              type="text"
              placeholder="Search"
              [(ngModel)]="searchInput"
              (ngModelChange)="handleSearchFilter()"
              class="bg-slate-100 p-1 rounded-md pl-7 max-[450px]:w-[150px]"
            />
            <img
              src="assets/icons/search-icon.svg"
              alt="Magnifying glass icon"
              class="h-4 pl-3 absolute top-2 -left-1"
            />
            <div *ngIf="searchInput">
              <button
                (click)="handleClearSearch()"
                class="absolute top-1 right-1"
              >
                <img
                  src="assets/icons/close-icon.svg"
                  alt="Closing icon"
                  class="h-6"
                />
              </button>
            </div>
          </div>
          <!--sort-->
          <div class="relative px-2">
            <button
              class="flex items-center"
              (click)="sortingDropdownExpanded = !sortingDropdownExpanded"
              (blur)="handleListSorting(dogsListSorting)"
            >
              <h2 class="font-bold whitespace-nowrap">Sort by:</h2>
              <div class="flex items-center">
                <h2 class="font-medium px-2">{{ dogsListSorting }}</h2>
                <img
                  src="assets/icons/expand-down-icon.svg"
                  alt=""
                  [class]="
                    'h-4 ' + (sortingDropdownExpanded ? 'rotate-180 mt-2' : '')
                  "
                />
              </div>
            </button>
            <!--Sorting dropdown-->
            <div
              [class]="
                'absolute bg-white w-[150px] right-0 shadow-md p-2 font-thin z-50 grid gap-2 ' +
                (sortingDropdownExpanded ? '' : 'hidden')
              "
            >
              <h3 (click)="handleListSorting('Name')" class="cursor-pointer">
                Name
              </h3>
              <h3 (click)="handleListSorting('Age')" class="cursor-pointer">
                Age
              </h3>
              <h3 (click)="handleListSorting('Breed')" class="cursor-pointer">
                Breed
              </h3>
              <h3 (click)="handleListSorting('')" class="cursor-pointer">
                None
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <ul>
          <!--Dog Card-->

          <li
            id="dog-card"
            *ngFor="let dog of dogsList"
            class="flex border-b hover:bg-slate-100"
          >
            <div
              class="flex items-center justify-between w-full px-3 py-1 cursor-pointer"
              (click)="handleDogPageNavigation(dog.chipNumber)"
            >
              <div class="flex items-center">
                <img
                  src="assets/icons/dog-icon.svg"
                  alt="icon of a corgi face"
                  class="h-10"
                />
                <div class="pl-3">
                  <div class="flex items-center">
                    <h2 class="font-medium">{{ dog.name }}</h2>
                    <span
                      [class]="
                        ' block size-3 rounded-full ml-2 ' +
                        (dog.present ? 'bg-green-500 ' : ' bg-red-500 ')
                      "
                    ></span>
                  </div>

                  <h2 class="font-thin">{{ dog.breed }}</h2>
                </div>
              </div>

              <h2 class="">{{ dog.age }} years old</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
