<!--sort-->
<div
  class="relative h-10 bg-slate-100 cursor-pointer"
  (click)="sortingDropdownExpanded = !sortingDropdownExpanded"
  (blur)="handleOptionChosen(chosenOption)"
>
  <div class="flex items-center">
    <h2 class="font-medium p-2">{{ chosenOption }}</h2>
  </div>

  <img
    src="assets/icons/expand-down-icon.svg"
    alt=""
    [class]="
      'h-4 absolute right-2 top-2 ' +
      (sortingDropdownExpanded ? 'rotate-180 mt-2  ' : '')
    "
  />
  <!--Sorting dropdown-->
  <div
    [class]="
      'absolute bg-white w-full top-10 shadow-md  font-thin z-50 grid gap-2 ' +
      (sortingDropdownExpanded ? '' : 'hidden')
    "
  >
    <h3
      *ngFor="let option of dropdownOptions"
      (click)="handleOptionChosen(option)"
      class="cursor-pointer p-2 hover:bg-slate-50"
    >
      {{ option }}
    </h3>
  </div>
</div>
