<div
  [class]="
    'fixed top-0 h-screen w-screen bg-[rgba(0,0,0,.3)] flex transition-all duration-300 ' +
    (sideMenuIsActive ? 'opacity-100' : 'opacity-0 pointer-events-none')
  "
>
  <div
    [class]="
      'w-[80vw] min-w-[300px] max-w-[350px] bg-[#7FA09A] text-white pl-5 transition-all duration-300 ' +
      (sideMenuIsActive ? 'translate-x-0' : '-translate-x-full')
    "
  >
    <div id="title" class="mt-4 flex justify-between">
      <a
        routerLink=""
        class="flex items-center"
        (click)="handleNavigationClick()"
      >
        <img
          src="assets/icons/logo-icon.svg"
          alt="Logo of a dog paw"
          class="h-9"
        />
        <h1 class="text-3xl font-extrabold pl-2">DoggyWare</h1>
      </a>
      <button (click)="handleSideMenuToggle()">
        <img src="assets/icons/close-icon-light.svg" alt="" class="h-10 mr-2" />
      </button>
    </div>

    <div id="nav" class="mt-20">
      <ul>
        <li class="text-2xl font-thin mb-6">
          <a routerLink="" class="flex gap-2" (click)="handleNavigationClick()">
            <img
              src="assets/icons/dashboard-menu-icon.svg"
              alt=""
              class="h-8"
            />
            <h2>Dashboard</h2></a
          >
        </li>
        <li class="text-2xl font-thin mb-6">
          <a
            routerLink="attendance"
            class="flex gap-2"
            (click)="handleNavigationClick()"
          >
            <img
              src="assets/icons/attendance-menu-icon.svg"
              alt=""
              class="h-8"
            />
            <h2>Attendance</h2></a
          >
        </li>
        <li class="text-2xl font-thin mb-6">
          <a
            routerLink="catalogue"
            class="flex gap-2"
            (click)="handleNavigationClick()"
          >
            <img
              src="assets/icons/catalogue-menu-icon.svg"
              alt=""
              class="h-8"
            />
            <h2>Catalogue</h2></a
          >
        </li>
        <li class="text-2xl font-thin mb-6">
          <a routerLink="" class="flex gap-2" (click)="handleNavigationClick()">
            <img src="assets/icons/schedule-menu-icon.svg" alt="" class="h-8" />
            <h2>Schedule</h2></a
          >
        </li>
        <li class="text-2xl font-thin mb-6">
          <a routerLink="" class="flex gap-2" (click)="handleNavigationClick()">
            <img src="assets/icons/trainers-menu-icon.svg" alt="" class="h-8" />
            <h2>Trainers</h2></a
          >
        </li>
        <li class="text-2xl font-thin mb-4">
          <a routerLink="" class="flex gap-2" (click)="handleNavigationClick()">
            <img
              src="assets/icons/analytics-menu-icon.svg"
              alt=""
              class="h-8"
            />
            <h2>Analytics</h2></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="flex-1" (click)="handleSideMenuToggle()"></div>
</div>
